// Fonts
// --------------------------------

$ysw-font-size-root: stencilNumber("fontSize-root");

$ysw-body-font: stencilFontFamily("body-font"), Arial, Helvetica, sans-serif;
$ysw-headings-font: stencilFontFamily("headings-font"), Arial, Helvetica, sans-serif;
