.logo {
   align-items: center;
   display: flex;
   justify-content: center;

   &__container {
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
   }

   img {
      width: 40px;
      height: 40px;
      margin-right: 16px;
   }

   &__title {
      font-size: 18px;
      margin-bottom: 0;
      font-weight: 700;

      >sup span {
         font-size: 12px;
         margin-left: 3px;
         text-transform: capitalize;
      }
   }
}