.navbar {
    .nav {
        display: flex;
        justify-content: space-between;
        list-style: none;
        margin: 0;
        padding: 0;
        align-items: center;
    }

    .item {
        // padding: 8px 20px;
        margin: 0 10px;

        &:hover,
        &:focus {
            background-color: rgb(17, 37, 60);

            .link {
                color: white;
            }
        }
    }

    .link {
        text-decoration: none;
        font-weight: 600;
        color: rgb(17, 37, 60);
        font-size: 16px;
        text-transform: uppercase;
        padding: 8px 30px;

        &:hover,
        &:focus {
            background-color: rgb(17, 37, 60);
            color: white;
        }

        &:focus {
            padding: 8px 30px;
        }
    }

    .logoTitle {
        text-transform: uppercase;
        color: rgb(17, 37, 60);
        font-weight: 700;
    }

    .active {
        background-color: rgb(17, 37, 60);
        color: white !important;
    }
}

.navbarMobile {
    &__list {
        display: flex;
        justify-content: center;
        list-style: none;
        margin: 0;
        padding: 0;
        align-items: center;
    }

    &__item {
        margin: 0 10px;

        &:hover,
        &:focus {
            background-color: rgb(17, 37, 60);

            .link {
                color: white;
            }
        }
    }

    &__link {
        text-decoration: none;
        font-weight: 600;
        color: rgb(17, 37, 60);
        font-size: 12px;
        text-transform: uppercase;
        padding: 8px 30px;

        &:hover,
        &:focus {
            background-color: rgb(17, 37, 60);
            color: white;
        }

        &:focus {
            padding: 8px 30px;
        }
    }

    &__logoTitle.offcanvas-title {
        text-transform: uppercase;
        color: rgb(17, 37, 60);
        font-weight: 700;
    }

    &__subtitle {
        font-size: 14px;
    }

    .active {
        background-color: rgb(17, 37, 60);
        color: white !important;
    }
}